.back-to-top{
    position: fixed;
    bottom:3%;
    right:3%;
    z-index: 1;
    background-color: white;
    color:var(--color-text);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 50%;
    padding:5px 10px;
    cursor: pointer;
    z-index: 999;
}