.nav {
    padding: 0 1rem;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    display: grid;
    height: 85px;
    grid-template-columns: 150px 1fr 150px;
    gap: 1rem;
    font-size: var(--fs-100);
    font-weight: 500;
    text-transform: uppercase;
    transition: background .5s ease;
}
.nav .nav-link,.nav .icon{
    color:white!important;
}
:is(.nav.scrolled){
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background:white;
}
:is(.nav.scrolled) :is(.nav-link, .icon){
    color:var(--color-text)!important;
}
.imgBrand {
    width: 100%;
    height: 100%;
    max-width: 75px;
}

.navWrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLinks,
.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.socials .nav-link{
    padding:0 .75rem;
}
.navLinks .nav-link{
    opacity: .6;
    font-size: var(--fs-300);
}
.navLinks .nav-link:hover,.navLinks .nav-link.active{
    opacity: 1;
}
.icon {
    font-size: var(--fs-300);
}
.navLinks {
    gap: 2rem;
}

.burgerWrap,.socials.mobile {
    display: none;
}
@media only screen and (max-width:880px) {
    .socials {
        display: none;
    }
    
    .socials.mobile{
        display:flex!important;
        bottom:10%;
        position: absolute;
    }
    .burgerWrap {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        grid-column: span 2;
        position: relative;
        z-index: 1;
    }

    .burger {
        display: inline-block;
        cursor: pointer;        
    }

    .burger :is(.bar1,.bar2,.bar3){
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
    }

    .burger.change .bar1{
        transform: translate(0, 7px) rotate(-45deg);
    }
    
    .burger.change .bar2 {
        opacity: 0;
    }
    
    .burger.change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }

    :is(.nav.scrolled) :is(.nav-link, .icon),
    :is(.nav.scrolled) :is(.nav-link, .icon){
        color: white !important;
    }

    .navWrap {
        position: absolute;
        right: -100%;
        top: 0;
        width: 100vw;
        height: 100vh;
        backdrop-filter: blur(12px);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: right .5s ease-in;
        background: rgba(0, 0, 0, .3);
    }

    .navWrap.open{
        right: 0;
    }

    .navLinks {
        flex-direction: column;
    }
    .burgerWrap.isOpen :is(.bar1,.bar2,.bar3){
        background-color: white!important;
    }
    :is(.nav.scrolled .burger :is(.bar1, .bar2, .bar3)) {
        background-color: #333;
    }
}