#Services{
    background-image: url(../assets/banner1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

#Services::after{
    content:'';
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
}
.service-wrapper{
    position: relative;
    z-index: 11;
    background: rgba(var(--rgb-primary),.5);
}

.service-parent:before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #d3d3d3;
    position: absolute;
    top: 50%;
    left: 0;
}
.service-parent:after {
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    background-color: #d3d3d3;
    position: absolute;
    top: 10px;
    left: 50%;
}
.service-card{
    padding:1rem 0;
}