@font-face {
    font-family: 'El Messiri Reg';
    src: url('/public/assets/fonts/ElMessiri-Regular.ttf');
}
@font-face {
    font-family: 'El Messiri SemiBold';
    src: url('/public/assets/fonts/ElMessiri-SemiBold.ttf');
}
@font-face {
    font-family: 'El Messiri Bold';
    src: url('/public/assets/fonts/ElMessiri-Bold.ttf');
}
@font-face {
    font-family: 'Beleeza Regular';
    src: url('/public/assets/fonts/Belleza-Regular.ttf');
}

* {
    box-sizing: border-box;
}
dl,
ol,
ul {
    margin-top: 0!important;
    margin-bottom: inherit!important;
    padding-left: 0!important;
}
.bgImgCover{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
:root {
    --color-primary: #7596C2;
    --color-dots:#d6fff9;
    --color-text: #434242;
    --ff-reg: 'Beleeza Regular';
    --ff-semi: 'El Messiri SemiBold';
    --ff-bold: 'El Messiri Bold';
    --rgb-primary:117, 150, 194;
    --rgb-text:66, 66, 66;

    --fs-100: 16px;
    --fs-200: 18px;
    --fs-300: 22px;
    --fs-400: 26px;
    --fs-500: 30px;
    --fs-600: 35px;
    --fs-700: 42px;
    --fs-800: 60px;

    --width-limit:1240px;
}

body{
    background:var(--color-primary)!important;
    font-family: var(--ff-reg)!important;
    font-size: var(--fs-200)!important;
    color: white!important;
}
.ff-reg{
    font-family: var(--ff-reg);
}
.ff-semi{
    font-family: var(--ff-semi);
}
.ff-bold{
    font-family: var(--ff-bold);
}
@media only screen and (max-width:880px) {
    :root {
        --fs-100: 14px;
        --fs-200: 16px;
        --fs-300: 20px;
        --fs-400: 24px;
        --fs-500: 28px;
        --fs-600: 32px;
        --fs-700: 38px;
        --fs-800: 54px;
    }
}

.fs-100{
    font-size: var(--fs-100)!important;
}
.fs-200{
    font-size: var(--fs-200)!important;
}
.fs-300{
    font-size: var(--fs-300)!important;
}
.fs-400{
    font-size: var(--fs-400)!important;
}
.fs-500{
    font-size: var(--fs-500)!important;
}
.fs-600{
    font-size: var(--fs-600)!important;
}
.fs-700{
    font-size: var(--fs-700)!important;
}
.fs-800{
    font-size: var(--fs-800)!important;
}

.bgPrimary{
    background:var(--color-primary)!important;
}

a,.nav-link,.clr-text{
    color:var(--color-text)!important;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: var(--ff-semi)!important;
    line-height: 1.5;
}
.font-bold{
    font-family: var(--ff-bold)!important;
}

h1,h2,h3,h4,h5,h6,p{
    margin:0!important;
}
.section-divider{
    max-width: var(--width-limit);
    margin:0 auto;
}
.title-underline::after,.title-underline-primary::after{
    content:'';
    position: absolute;
    bottom:0;
    left:0;
    width: 60%;
    height: 3px;
    background: white;
}
.title-underline-primary::after{
    background: var(--color-primary);
}
a{
    text-decoration: none!important;
}
.section-gap{
    padding:5rem 0;
}

.btn-classic{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: fit-content;
    font-family: var(--ff-semi);
    text-transform: capitalize;
    line-height: 1;
    border-radius: 8px;
}
.btn-classic.color{
    border:2px solid var(--color-primary);
    transition: background-color .25s ease-out;
}
.btn-classic.color:hover{
    background-color: var(--color-primary);
    color:white!important;
}
.btn-100{
    padding:0.75rem 0.75rem;
}
.btn-200{
    padding:1rem 1rem;
}
.owl-theme .owl-dots{
    position: absolute;
    left:50%;
    transform: translate(-50%,-50%);
    bottom:30px;
    margin:0;
}
.owl-theme .owl-dots .owl-dot span{
    background:var(--color-dots)!important;
    opacity: .5;
    width: 12px!important;
    height: 12px!important;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span{
    opacity: 1!important;
}
.arrow{
    position: absolute;
    z-index: 999;
    bottom:5%;
    animation: moveArrow 3s infinite;
}

.btn-transparent{
    background: transparent;
    color:white!important;
    border: 1px solid white;
    transition: all .25s ease;
}

.btn-transparent:hover{
    background: white!important;
    color:var(--color-text)!important;
}
@keyframes moveArrow {
    0% {
        bottom: 5%;
    }
    50%{
        bottom: 0;
    }
    100%{
        bottom: 5%;
    }
}